.form {
   /* background: var(--color-primary);*/
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    background: var(--color-secondary);
    
}

.form button,
.form input {
    border: none;
    height: 3rem;
    padding: .5rem 1rem;
}

.form button:focus,
.form input:focus {
    outline: none;
}

.form button {
    cursor: pointer;
    background: var(--color-primary);
    color: var(--color-white);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.form input {
    width: 23vw;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}