.single-weather__container {
    min-height: calc(100vh - 12rem);
    display: flex;
    align-items: center;
    justify-content: center;
}


.single-weather {
    width: 45rem;
    background: rgba(20, 20, 20, 0.479);
    color: var(--color-white);

    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 2rem 0;

    border-radius: 3px;
}

@media (max-width: 382px) {
    .single-weather  {
        width: 95vw
    }
}

.single-weather__city {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 3rem;
}

.single-weather__main {
    width: 50%;
    height: 9rem;
    position: relative;



    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: .5rem;
    margin-bottom: 2rem;
}

.single-weather__main__img {
    width: 5rem;
    height: 5rem;
    position: absolute;
    top: 0;
    left: 0;
}

.single-weather__main__temperature {
    font-size: 3.5rem;
    position: absolute;
    top: 0;
}

.single-weather__main__desc {
    position: absolute;
    bottom: 2rem;
    transform: translateX(-1rem);
    font-size: 1.2rem;
}

.single-weather__details {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 85%;
    font-size: 1.2rem;
}

@media (max-width: 382px) {
    .single-weather__details  {
        width: 95%;
    }
}

.single-weather__forecast__container {
    display: flex;
    width: 80%;
    margin-top: 3rem;
    justify-content: space-around;
}

.single-weather__forecast {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.2rem;
}

.single-weather__forecast__img {
    width: 4rem;
    height: 4rem;
   
}