:root {
  /* COLOR */ 
  --color-white : #fff;
  --color-primary: #1E4855;
  --color-secondary: #B0BDC1;
}


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

@media (max-width: 600px) {
  html {
    font-size: 50%;
  }
}


body {
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
}

.icon {
  width: 2rem;
  height: 2rem;
  object-fit: cover;
}